{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 43.02905896662793,
        "longitude": -78.67416858673097,
        "elevation": 212,
        "unit_system": "imperial",
        "location_name": "Home",
        "time_zone": "America/New_York",
        "external_url": null,
        "internal_url": null
    }
}